input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;

}

input:-webkit-autofill{
    font-size: 1.2em;
}

:focus{
    outline-color: white;
}

